@import url("https://fonts.googleapis.com/css?family=Open+Sans:400");

*,
*::before,
*::after {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #333;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

hr {
  height: 1px;
  background-color: #f1f1f1;
  border: none;
  margin: 3rem 0;
}
