[data-preference] {
  position: relative;
}

[data-preference]::before {
  content: "";
  background: #4285f4;
  width: 3px;
  position: absolute;
  left: -20px;
  top: 0;
  bottom: 0;
}

[data-filter] {
  display: none;
}
