.modal-overlay {
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #fff;
  width: calc(100% - 40px);
  border-radius: 8px;
  padding: 20px;
}

.modal-header {
  color: #616161;
  text-align: center;
}

.modal-subheader {
  font-size: 10px;
  color: #a5a5a5;
  text-align: center;
  margin-top: 7px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.cancel {
  background: none;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  padding: 4px 14px;
  color: #a5a5a5;
}

.save {
  background: #5b98f4;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  color: #fff;
  min-width: 70px;
}

.input {
  background: #e9e9e9;
  border: none;
  font-size: 12px;
  padding: 7px 0 7px 13px;
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
}
