.table-entry {
  padding: 9px 20px;
  display: flex;
  justify-content: space-between;
  color: #585858;
}

.table-entry-odd {
  background: #fafafa;
}

.table-entry:hover {
  background: #ededed;
  color: #4a4a4a;
}

.table-options {
  display: flex;
  align-items: center;
}

.table-options .icon + .icon {
  margin-left: 10px;
}

.icon {
  cursor: pointer;
  margin-right: 5px;
}
